<a href="https://colab.research.google.com/github/Francisco0a/paneldata1/blob/Notebook/Panel_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import pandas as pd
import pandas as pd
import numpy as np
drive.mount('/content/drive')
# Uploading the filtered dataset with the department code 69 as a parquet file
# filtered_df = diane_data[diane_data['d√©partementcode'] == 69]

file_path = '/content/drive/My Drive/filtered_df.parquet'
filtered_df = pd.read_parquet(file_path)

Mounted at /content/drive

In [ ]:
filtered_df

,siren,year,companyname,captem_fa,wc_currentas,currentratio,sirenID,nafrev2primarycodecode,lastavailableyear,regioncode,...,totalexpenses,rawmaterials,workinprogr,ServINprogr,semifinNfinGoods,goodforsales,netincome,inventory,goodwill,othIntangAs
115,5720651.0,2014,SA DES ETS RENE DUFOUR,1.46,1.00,NaN,5720651,6820B,31/12/2016,84.0,...,30.0,0.0,0.0,0.0,0.0,0.0,41.0,0.0,0.0,0.0
116,5720651.0,2015,SA DES ETS RENE DUFOUR,1.51,1.00,NaN,5720651,6820B,31/12/2016,84.0,...,109.0,0.0,0.0,0.0,0.0,0.0,-38.0,0.0,0.0,0.0
117,5720651.0,2016,SA DES ETS RENE DUFOUR,1.17,0.94,17.14,5720651,6820B,31/12/2016,84.0,...,288.0,0.0,0.0,0.0,0.0,0.0,-121.0,0.0,0.0,0.0
118,5720651.0,2017,SA DES ETS RENE DUFOUR,NaN,NaN,NaN,5720651,6820B,31/12/2016,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,5720651.0,2018,SA DES ETS RENE DUFOUR,NaN,NaN,NaN,5720651,6820B,31/12/2016,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4779594,998883409.0,2014,ELECTRO FORCE,1.47,0.30,1.43,998883409,4321A,30/09/2018,84.0,...,2304.0,7.0,0.0,0.0,0.0,0.0,32.0,7.0,60.0,0.0
4779595,998883409.0,2015,ELECTRO FORCE,1.81,0.33,1.49,998883409,4321A,30/09/2018,84.0,...,3239.0,6.0,0.0,0.0,0.0,0.0,92.0,6.0,0.0,0.0
4779596,998883409.0,2016,ELECTRO FORCE,1.75,0.48,1.90,998883409,4321A,30/09/2018,84.0,...,2999.0,10.0,0.0,0.0,0.0,0.0,104.0,10.0,0.0,0.0
4779597,998883409.0,2017,ELECTRO FORCE,1.88,0.44,1.89,998883409,4321A,30/09/2018,84.0,...,2811.0,9.0,0.0,0.0,0.0,0.0,214.0,9.0,0.0,0.0
4779598,998883409.0,2018,ELECTRO FORCE,1.86,0.47,1.89,998883409,4321A,30/09/2018,84.0,...,3246.0,8.0,0.0,0.0,0.0,0.0,198.0,8.0,0.0,0.0

In [ ]:
# Iterating over each column name and its data type in 'filtered_df'
for col_name, dtype in filtered_df.dtypes.items():
    print(f'{col_name}: {dtype}')

siren: float64
year: int16
companyname: object
captem_fa: float64
wc_currentas: float64
currentratio: float64
sirenID: object
nafrev2primarycodecode: object
lastavailableyear: object
regioncode: float64
region: object
numberofbranches: float32
noofshareholders: int16
nacerev2primarycodecode: float64
bankname: object
solvencyratio: float64
totalassets: float64
totalfixedassets: float64
√ø√æmarqu√©e: float64
nomdelentreprise: object
nafr√©v2codeprincipalcode: object
codecommune5chiffres: object
dateded√©butdactivit√©: object
effectifmoyendupersonnel: float64
brevet: float64
d√©partementcode: float64
nacer√©v2codeprincipalcode: float64
HT: float32
MHT: float32
MLT: float32
LT: float32
KIS: float32
HTKIS: float32
FKIS: float32
OKIS: float32
KIS_all: float32
HT_all: float32
man: float32
trade: float32
elec_eau: float32
agr: float32
trans: float32
ict: float32
real: float32
cons: float32
services: float32
roa: float64
deprtcode: float32
currentas: float64
creditors: float64
financialdebtequity: float64
netsales: float64
dateofincorporation: object
sharecapital: float64
convertibleloans: float64
otherdebentureloans: float64
bankborrowings: float64
otherborrowings: float64
typeofbusiness: object
NetIntangible: float64
year_incorporation: float64
tradedebts: float64
marketable_sec: float64
cashNbank: float64
land: float64
buildings: float64
plantAequip: float64
other_tangible: float64
nettangible: float64
fincharges: float64
purch_good: float64
purch_raw: float64
wage_salaries: float64
PropPlEq_inPRG: float64
prepay_tangibleAs: float64
conso_insvestm: float64
customerprepay: float64
taxes: float64
debttosupplier_tangAs: float64
otherdebts: float64
totalDebt: float32
InterestR: float32
totalrevenues: float64
totalexpenses: float64
rawmaterials: float64
workinprogr: float64
ServINprogr: float64
semifinNfinGoods: float64
goodforsales: float64
netincome: float64
inventory: float32
goodwill: float64
othIntangAs: float64

In [ ]:
# Basic descriptive statistics
print(filtered_df.describe())

# Frequency of observations per year
print(filtered_df['year'].value_counts())

# Frequency of observations per company
print(filtered_df['siren'].value_counts())

              siren           year      captem_fa   wc_currentas  \
count  1.993150e+05  199315.000000  111254.000000  130803.000000
mean   5.858131e+08    2016.000000      32.170607      -7.632235
std    1.806674e+08       1.414217    3344.197454     844.147179
min    5.720651e+06    2014.000000       0.000000 -230710.000000
25%    4.434330e+08    2015.000000       1.110000       0.170000
50%    5.138545e+08    2016.000000       1.650000       0.470000
75%    7.989820e+08    2017.000000       3.370000       0.720000
max    9.988834e+08    2018.000000  636111.050000     111.900000

        currentratio     regioncode  numberofbranches  noofshareholders  \
count  127805.000000  199245.000000     199315.000000     199315.000000
mean        4.376215      83.965595          0.440383          0.647167
std         9.626987       1.522698          5.910667          1.477684
min         0.000000      11.000000          0.000000          0.000000
25%         1.180000      84.000000          0.000000          0.000000
50%         1.860000      84.000000          0.000000          0.000000
75%         3.270000      84.000000          0.000000          1.000000
max        99.950000      93.000000        896.000000         54.000000

       nacerev2primarycodecode  solvencyratio  ...  totalexpenses  \
count            199170.000000  125412.000000  ...   1.213080e+05
mean               5824.754406      41.144219  ...   4.555685e+03
std                1731.626814      32.425404  ...   5.621551e+04
min                 111.000000     -99.960000  ...  -1.281590e+05
25%                4646.000000      20.320000  ...   8.600000e+01
50%                6201.000000      41.830000  ...   3.090000e+02
75%                7010.000000      64.100000  ...   1.284000e+03
max                9609.000000     100.000000  ...   5.174049e+06

        rawmaterials    workinprogr    ServINprogr  semifinNfinGoods  \
count  116078.000000   91583.000000   91584.000000      9.158400e+04
mean       83.099071      63.633764      26.672432      1.661092e+02
std      1590.848884    1639.288580    1245.733825      1.039510e+04
min       -19.000000    -137.000000     -15.000000     -1.576000e+03
25%         0.000000       0.000000       0.000000      0.000000e+00
50%         0.000000       0.000000       0.000000      0.000000e+00
75%         2.000000       0.000000       0.000000      0.000000e+00
max    169000.000000  191997.000000  243385.000000      1.676000e+06

       goodforsales     netincome     inventory       goodwill    othIntangAs
count  1.160780e+05  1.213060e+05  9.157400e+04  116082.000000  116079.000000
mean   2.002795e+02  3.093606e+02  5.885802e+02     285.263366      62.791874
std    5.647076e+03  8.412691e+03  1.318999e+04    6292.815131    1526.328486
min   -1.066000e+03 -1.355540e+05 -1.500000e+01       0.000000     -14.000000
25%    0.000000e+00  0.000000e+00  0.000000e+00       0.000000       0.000000
50%    0.000000e+00  1.500000e+01  3.000000e+00       0.000000       0.000000
75%    2.000000e+00  6.900000e+01  8.300000e+01      31.000000       0.000000
max    1.798000e+06  1.723556e+06  1.865000e+06  851236.000000  201500.000000

[8 rows x 81 columns]
year
2014    39863
2015    39863
2016    39863
2017    39863
2018    39863
Name: count, dtype: int64
siren
5720651.0      5
752965574.0    5
752951624.0    5
752953349.0    5
752955567.0    5
              ..
483027827.0    5
483037420.0    5
483038345.0    5
483038873.0    5
998883409.0    5
Name: count, Length: 39863, dtype: int64

In [ ]:
distribution = filtered_df['d√©partementcode'].value_counts()
distribution

d√©partementcode
69.0    199315
Name: count, dtype: int64

In [ ]:
# Check if the panel is balanced
unique_years_per_siren = filtered_df.groupby('siren')['year'].nunique()
max_years = unique_years_per_siren.max()
min_years = unique_years_per_siren.min()

if max_years == min_years:
    print(f"The panel is balanced with each entity having {max_years} time periods.")
else:
    print(f"The panel is unbalanced. The maximum number of time periods for an entity is {max_years}, and the minimum is {min_years}.")

The panel is balanced with each entity having 5 time periods.

In [ ]:

# Step 1: Compute the ratio where conditions are met
filtered_df['ratio'] = np.where(
    (filtered_df['cashNbank'] + filtered_df['marketable_sec'] >= 0) & (filtered_df['totalassets'] >= 1),
    (filtered_df['cashNbank'] + filtered_df['marketable_sec']) / filtered_df['totalassets'],
    np.nan
)

# Step 2: For each firm, calculate the lag of the computed ratio
filtered_df['ratio_lag'] = filtered_df.groupby('siren')['ratio'].shift(1)

# Verify that the first data point for each firm in 'ratio_lag' is missing
print(filtered_df[['siren', 'year', 'ratio', 'ratio_lag']].head())

# Optional: You can check that the first observation for each 'siren' is NaN for 'ratio_lag'
first_lag_check = filtered_df.groupby('siren')['ratio_lag'].apply(lambda x: x.isnull().iloc[0])
print("First data for each firm is missing in 'ratio_lag':", first_lag_check.all())

         siren  year  ratio  ratio_lag
115  5720651.0  2014    0.0        NaN
116  5720651.0  2015    0.0        0.0
117  5720651.0  2016    0.0        0.0
118  5720651.0  2017    NaN        0.0
119  5720651.0  2018    NaN        NaN
First data for each firm is missing in 'ratio_lag': True

d√©partementcode
69.0    199315
Name: count, dtype: int64