<a href="https://colab.research.google.com/github/Francisco0a/paneldata1/blob/Notebook/Panel_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
import pandas as pd
import pandas as pd
import numpy as np
drive.mount('/content/drive')
pd.set_option('display.max_columns', None)
# Uploading the filtered dataset with the department code 69 as a parquet file
####1.Transform if necessary the database in the right format.
####2.	Select your “département.” in the code.

# filtered_df = diane_data[diane_data['départementcode'] == 69]

file_path = '/content/drive/My Drive/filtered_df.parquet'
filtered_df = pd.read_parquet(file_path)
for col_name, dtype in filtered_df.dtypes.items():
    print(f'{col_name}: {dtype}')
# Basic descriptive statistics
print(filtered_df.describe())
# Frequency of observations per year
print(filtered_df['year'].value_counts())
# Frequency of observations per company
print(filtered_df['siren'].value_counts())
distribution = filtered_df['départementcode'].value_counts()
print(distribution)
# Check if the panel is balanced
unique_years_per_siren = filtered_df.groupby('siren')['year'].nunique()
max_years = unique_years_per_siren.max()
min_years = unique_years_per_siren.min()

if max_years == min_years:
    print(f"The panel is balanced with each entity having {max_years} time periods.")
else:
    print(f"The panel is unbalanced. The maximum number of time periods for an entity is {max_years}, and the minimum is {min_years}.")

Mounted at /content/drive
siren: float64
year: int16
companyname: object
captem_fa: float64
wc_currentas: float64
currentratio: float64
sirenID: object
nafrev2primarycodecode: object
lastavailableyear: object
regioncode: float64
region: object
numberofbranches: float32
noofshareholders: int16
nacerev2primarycodecode: float64
bankname: object
solvencyratio: float64
totalassets: float64
totalfixedassets: float64
ÿþmarquée: float64
nomdelentreprise: object
nafrév2codeprincipalcode: object
codecommune5chiffres: object
datededébutdactivité: object
effectifmoyendupersonnel: float64
brevet: float64
départementcode: float64
nacerév2codeprincipalcode: float64
HT: float32
MHT: float32
MLT: float32
LT: float32
KIS: float32
HTKIS: float32
FKIS: float32
OKIS: float32
KIS_all: float32
HT_all: float32
man: float32
trade: float32
elec_eau: float32
agr: float32
trans: float32
ict: float32
real: float32
cons: float32
services: float32
roa: float64
deprtcode: float32
currentas: float64
creditors: float64
financialdebtequity: float64
netsales: float64
dateofincorporation: object
sharecapital: float64
convertibleloans: float64
otherdebentureloans: float64
bankborrowings: float64
otherborrowings: float64
typeofbusiness: object
NetIntangible: float64
year_incorporation: float64
tradedebts: float64
marketable_sec: float64
cashNbank: float64
land: float64
buildings: float64
plantAequip: float64
other_tangible: float64
nettangible: float64
fincharges: float64
purch_good: float64
purch_raw: float64
wage_salaries: float64
PropPlEq_inPRG: float64
prepay_tangibleAs: float64
conso_insvestm: float64
customerprepay: float64
taxes: float64
debttosupplier_tangAs: float64
otherdebts: float64
totalDebt: float32
InterestR: float32
totalrevenues: float64
totalexpenses: float64
rawmaterials: float64
workinprogr: float64
ServINprogr: float64
semifinNfinGoods: float64
goodforsales: float64
netincome: float64
inventory: float32
goodwill: float64
othIntangAs: float64
              siren           year      captem_fa   wc_currentas  \
count  1.993150e+05  199315.000000  111254.000000  130803.000000
mean   5.858131e+08    2016.000000      32.170607      -7.632235
std    1.806674e+08       1.414217    3344.197454     844.147179
min    5.720651e+06    2014.000000       0.000000 -230710.000000
25%    4.434330e+08    2015.000000       1.110000       0.170000
50%    5.138545e+08    2016.000000       1.650000       0.470000
75%    7.989820e+08    2017.000000       3.370000       0.720000
max    9.988834e+08    2018.000000  636111.050000     111.900000

        currentratio     regioncode  numberofbranches  noofshareholders  \
count  127805.000000  199245.000000     199315.000000     199315.000000
mean        4.376215      83.965595          0.440383          0.647167
std         9.626987       1.522698          5.910667          1.477684
min         0.000000      11.000000          0.000000          0.000000
25%         1.180000      84.000000          0.000000          0.000000
50%         1.860000      84.000000          0.000000          0.000000
75%         3.270000      84.000000          0.000000          1.000000
max        99.950000      93.000000        896.000000         54.000000

       nacerev2primarycodecode  solvencyratio   totalassets  totalfixedassets  \
count            199170.000000  125412.000000  1.203840e+05      1.046940e+05
mean               5824.754406      41.144219  5.938270e+03      4.592550e+03
std                1731.626814      32.425404  7.495717e+04      7.009415e+04
min                 111.000000     -99.960000 -1.800000e+01     -5.730000e+02
25%                4646.000000      20.320000  1.140000e+02      3.600000e+01
50%                6201.000000      41.830000  4.320000e+02      1.650000e+02
75%                7010.000000      64.100000  1.357000e+03      6.580000e+02
max                9609.000000     100.000000  4.721637e+06      4.545700e+06

           ÿþmarquée  effectifmoyendupersonnel         brevet  \
count  199315.000000              25327.000000   82244.000000
mean     9955.526453                 49.042761     157.002456
std      5792.782869                705.922866    3917.458044
min         1.000000                  1.000000       0.000000
25%      4893.000000                  2.000000       0.000000
50%     10002.000000                  6.000000       0.000000
75%     14979.000000                 22.000000       8.000000
max     20000.000000             105407.000000  485000.000000

       départementcode  nacerév2codeprincipalcode             HT  \
count         199315.0              199160.000000  199315.000000
mean              69.0                5823.150884       0.002107
std                0.0                1731.857129       0.045856
min               69.0                 111.000000       0.000000
25%               69.0                4646.000000       0.000000
50%               69.0                6201.000000       0.000000
75%               69.0                7010.000000       0.000000
max               69.0                9609.000000       1.000000

                 MHT            MLT             LT            KIS  \
count  199315.000000  199315.000000  199315.000000  199315.000000
mean        0.009959       0.026616       0.031056       0.176229
std         0.099297       0.160959       0.173471       0.381015
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000       1.000000

               HTKIS           FKIS           OKIS        KIS_all  \
count  199315.000000  199315.000000  199315.000000  199315.000000
mean        0.041868       0.111181       0.051878       0.381155
std         0.200289       0.314357       0.221781       0.485672
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       1.000000
max         1.000000       1.000000       1.000000       1.000000

              HT_all            man          trade       elec_eau  \
count  199315.000000  199315.000000  199315.000000  199315.000000
mean        0.012066       0.070792       0.195520       0.008529
std         0.109182       0.256479       0.396601       0.091959
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000       1.000000

                 agr          trans            ict           real  \
count  199315.000000  199315.000000  199315.000000  199315.000000
mean        0.002358       0.025011       0.045130       0.069563
std         0.048503       0.156158       0.207589       0.254410
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000       1.000000

                cons       services           roa  deprtcode     currentas  \
count  199315.000000  199315.000000  98567.000000   199315.0  1.142060e+05
mean        0.113413       0.803753      6.056889       69.0  2.760314e+03
std         0.317098       0.397159     76.203683        0.0  2.963570e+04
min         0.000000       0.000000   -999.500000       69.0 -1.000000e+01
25%         0.000000       1.000000      0.460000       69.0  6.900000e+01
50%         0.000000       1.000000      3.860000       69.0  2.670000e+02
75%         0.000000       1.000000     10.190000       69.0  9.290000e+02
max         1.000000       1.000000    992.790000       69.0  2.948000e+06

          creditors  financialdebtequity      netsales  sharecapital  \
count  1.332720e+05         1.332670e+05  1.197060e+05  1.333020e+05
mean   5.851063e+02         2.967686e+02  4.313170e+03  1.124327e+03
std    7.850241e+03         1.932403e+04  5.299689e+04  1.893276e+04
min   -3.630000e+02        -2.659630e+06 -4.640000e+02 -3.100000e+01
25%    4.000000e+00         1.000000e-02  7.700000e+01  8.000000e+00
50%    2.500000e+01         1.368000e+01  2.870000e+02  1.500000e+01
75%    1.400000e+02         7.099000e+01  1.223000e+03  1.000000e+02
max    1.064300e+06         4.713693e+06  5.241354e+06  1.600987e+06

       convertibleloans  otherdebentureloans  bankborrowings  otherborrowings  \
count     103948.000000         1.039530e+05    1.332550e+05     1.039960e+05
mean          80.650816         8.728400e+01    6.113431e+02     1.102049e+03
std         5440.962457         8.401168e+03    1.365318e+04     2.115303e+04
min            0.000000         0.000000e+00   -1.970000e+02    -1.470000e+02
25%            0.000000         0.000000e+00    0.000000e+00     0.000000e+00
50%            0.000000         0.000000e+00    4.000000e+00     1.300000e+01
75%            0.000000         0.000000e+00    7.700000e+01     1.000000e+02
max       759011.000000         1.614631e+06    2.101000e+06     1.591244e+06

       NetIntangible  year_incorporation    tradedebts  marketable_sec  \
count  133046.000000       199315.000000  1.161170e+05   116074.000000
mean      296.919111         2004.641999  8.496564e+02      165.833890
std      6347.481041           12.222005  9.747829e+03     4750.345052
min       -14.000000         1900.000000 -7.700000e+01      -46.000000
25%         0.000000         2000.000000  5.000000e+00        0.000000
50%         0.000000         2008.000000  4.800000e+01        0.000000
75%        37.000000         2013.000000  2.730000e+02        0.000000
max    831305.000000         2019.000000  1.027307e+06   873474.000000

           cashNbank           land     buildings   plantAequip  \
count  107272.000000   91586.000000  9.159500e+04  9.160000e+04
mean      455.696799     102.939980  8.527103e+02  7.882501e+02
std      5444.369801    2228.718521  2.541176e+04  1.461929e+04
min       -22.000000       0.000000  0.000000e+00  0.000000e+00
25%        11.000000       0.000000  0.000000e+00  0.000000e+00
50%        51.000000       0.000000  0.000000e+00  2.000000e+00
75%       189.000000       0.000000  0.000000e+00  4.900000e+01
max    446100.000000  222883.000000  2.852000e+06  1.249500e+06

       other_tangible   nettangible     fincharges    purch_good  \
count    1.161150e+05  1.334780e+05  119862.000000  1.198340e+05
mean     4.336069e+02  8.413330e+02     107.599489  1.062802e+03
std      1.327060e+04  2.692249e+04    2375.576430  1.462227e+04
min      0.000000e+00 -2.600000e+01    -115.000000 -3.230000e+03
25%      8.000000e+00  1.000000e+00       0.000000  0.000000e+00
50%      3.900000e+01  1.200000e+01       1.000000  0.000000e+00
75%      1.430000e+02  7.000000e+01       6.000000  9.000000e+00
max      3.019000e+06  3.748100e+06  364453.000000  1.130658e+06

          purch_raw  wage_salaries  PropPlEq_inPRG  prepay_tangibleAs  \
count  1.198390e+05   1.198670e+05    91590.000000       91579.000000
mean   6.471667e+02   7.264932e+02       83.152648           7.720798
std    1.946408e+04   2.062954e+04     2412.469716         752.328560
min   -5.128000e+03  -1.910000e+02       -4.000000         -31.000000
25%    0.000000e+00   8.000000e+00        0.000000           0.000000
50%    0.000000e+00   7.100000e+01        0.000000           0.000000
75%    2.100000e+01   2.750000e+02        0.000000           0.000000
max    3.086900e+06   3.475646e+06   280000.000000      128788.000000

       conso_insvestm  customerprepay          taxes  debttosupplier_tangAs  \
count    91576.000000   133400.000000  104125.000000          104086.000000
mean         2.169466       32.901949     417.914641              39.740244
std        311.279164      700.325507    6910.149615            2535.556075
min          0.000000    -6211.000000  -43147.000000             -18.000000
25%          0.000000        0.000000      12.000000               0.000000
50%          0.000000        0.000000      55.000000               0.000000
75%          0.000000        0.000000     165.000000               0.000000
max      56180.000000    93821.000000  961326.000000          465000.000000

          otherdebts     totalDebt     InterestR  totalrevenues  \
count  133436.000000  1.039390e+05  91352.000000   1.213070e+05
mean      336.733767  3.601037e+03      0.183779   4.865083e+03
std      7458.711419  3.925084e+04     16.233322   5.933298e+04
min       -41.000000 -2.000000e+00     -0.307692  -6.700000e+02
25%         0.000000  9.200000e+01      0.000000   9.800000e+01
50%         3.000000  3.170000e+02      0.004167   3.390000e+02
75%        30.000000  9.540000e+02      0.015408   1.379000e+03
max    866315.000000  3.241000e+06   4262.000000   5.367865e+06

       totalexpenses   rawmaterials    workinprogr    ServINprogr  \
count   1.213080e+05  116078.000000   91583.000000   91584.000000
mean    4.555685e+03      83.099071      63.633764      26.672432
std     5.621551e+04    1590.848884    1639.288580    1245.733825
min    -1.281590e+05     -19.000000    -137.000000     -15.000000
25%     8.600000e+01       0.000000       0.000000       0.000000
50%     3.090000e+02       0.000000       0.000000       0.000000
75%     1.284000e+03       2.000000       0.000000       0.000000
max     5.174049e+06  169000.000000  191997.000000  243385.000000

       semifinNfinGoods  goodforsales     netincome     inventory  \
count      9.158400e+04  1.160780e+05  1.213060e+05  9.157400e+04
mean       1.661092e+02  2.002795e+02  3.093606e+02  5.885802e+02
std        1.039510e+04  5.647076e+03  8.412691e+03  1.318999e+04
min       -1.576000e+03 -1.066000e+03 -1.355540e+05 -1.500000e+01
25%        0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%        0.000000e+00  0.000000e+00  1.500000e+01  3.000000e+00
75%        0.000000e+00  2.000000e+00  6.900000e+01  8.300000e+01
max        1.676000e+06  1.798000e+06  1.723556e+06  1.865000e+06

            goodwill    othIntangAs
count  116082.000000  116079.000000
mean      285.263366      62.791874
std      6292.815131    1526.328486
min         0.000000     -14.000000
25%         0.000000       0.000000
50%         0.000000       0.000000
75%        31.000000       0.000000
max    851236.000000  201500.000000
year
2014    39863
2015    39863
2016    39863
2017    39863
2018    39863
Name: count, dtype: int64
siren
5720651.0      5
752965574.0    5
752951624.0    5
752953349.0    5
752955567.0    5
              ..
483027827.0    5
483037420.0    5
483038345.0    5
483038873.0    5
998883409.0    5
Name: count, Length: 39863, dtype: int64
départementcode
69.0    199315
Name: count, dtype: int64
The panel is balanced with each entity having 5 time periods.

In [2]:
###3.	Compute the ratio (Cash+marketable securities)/Totalassets) for numerator >=0 and denominator >=1 and its lag.
###Check that, for each firm, the first data should be missing.
# Step 1: Compute the ratio where conditions are met
filtered_df['ratio'] = np.where(
    (filtered_df['cashNbank'] + filtered_df['marketable_sec'] >= 0) & (filtered_df['totalassets'] >= 1),
    (filtered_df['cashNbank'] + filtered_df['marketable_sec']) / filtered_df['totalassets'],
    np.nan
)

# Step 2: For each firm, calculate the lag of the computed ratio
filtered_df['ratio_lag'] = filtered_df.groupby('siren')['ratio'].shift(1)

# Verify that the first data point for each firm in 'ratio_lag' is missing
print(filtered_df[['siren', 'year', 'ratio', 'ratio_lag']].head())

# Optional: You can check that the first observation for each 'siren' is NaN for 'ratio_lag'
first_lag_check = filtered_df.groupby('siren')['ratio_lag'].apply(lambda x: x.isnull().iloc[0])
print("First data for each firm is missing in 'ratio_lag':", first_lag_check.all())
ratio = filtered_df['ratio_lag'].value_counts()
print(ratio)

         siren  year  ratio  ratio_lag
115  5720651.0  2014    0.0        NaN
116  5720651.0  2015    0.0        0.0
117  5720651.0  2016    0.0        0.0
118  5720651.0  2017    NaN        0.0
119  5720651.0  2018    NaN        NaN
First data for each firm is missing in 'ratio_lag': True
ratio_lag
0.000000    6200
0.500000     304
0.333333     232
0.200000     214
0.250000     213
            ...
0.222044       1
0.867052       1
0.598039       1
0.082127       1
0.282031       1
Name: count, Length: 51942, dtype: int64

In [3]:
# Generate dummy variables for each year
filtered_df['Dum14'] = (filtered_df['year'] == 2014).astype(int)
filtered_df['Dum15'] = (filtered_df['year'] == 2015).astype(int)
filtered_df['Dum16'] = (filtered_df['year'] == 2016).astype(int)
filtered_df['Dum17'] = (filtered_df['year'] == 2017).astype(int)
filtered_df['Dum18'] = (filtered_df['year'] == 2018).astype(int)

In [4]:
filtered_df.head(20)

,siren,year,companyname,captem_fa,wc_currentas,currentratio,sirenID,nafrev2primarycodecode,lastavailableyear,regioncode,region,numberofbranches,noofshareholders,nacerev2primarycodecode,bankname,solvencyratio,totalassets,totalfixedassets,ÿþmarquée,nomdelentreprise,nafrév2codeprincipalcode,codecommune5chiffres,datededébutdactivité,effectifmoyendupersonnel,brevet,départementcode,nacerév2codeprincipalcode,HT,MHT,MLT,LT,KIS,HTKIS,FKIS,OKIS,KIS_all,HT_all,man,trade,elec_eau,agr,trans,ict,real,cons,services,roa,deprtcode,currentas,creditors,financialdebtequity,netsales,dateofincorporation,sharecapital,convertibleloans,otherdebentureloans,bankborrowings,otherborrowings,typeofbusiness,NetIntangible,year_incorporation,tradedebts,marketable_sec,cashNbank,land,buildings,plantAequip,other_tangible,nettangible,fincharges,purch_good,purch_raw,wage_salaries,PropPlEq_inPRG,prepay_tangibleAs,conso_insvestm,customerprepay,taxes,debttosupplier_tangAs,otherdebts,totalDebt,InterestR,totalrevenues,totalexpenses,rawmaterials,workinprogr,ServINprogr,semifinNfinGoods,goodforsales,netincome,inventory,goodwill,othIntangAs,ratio,ratio_lag,Dum14,Dum15,Dum16,Dum17,Dum18
115,5720651.0,2014,SA DES ETS RENE DUFOUR,1.46,1.00,NaN,5720651,6820B,31/12/2016,84.0,Auvergne-Rhône-Alpes,0.0,1,6820.0,,91.50,128.0,259.0,4664.0,SA DES ETS RENE DUFOUR,6820B,69382,01/01/2014,NaN,0.0,69.0,6820.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,69.0,120.0,0.0,9.29,0.0,01/01/1957,67.0,0.0,0.0,0.0,11.0,Subcontractor,0.0,1957.0,0.0,0.0,0.0,9.0,250.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.000000,71.0,30.0,0.0,0.0,0.0,0.0,0.0,41.0,0.0,0.0,0.0,0.000000,NaN,1,0,0,0,0
116,5720651.0,2015,SA DES ETS RENE DUFOUR,1.51,1.00,NaN,5720651,6820B,31/12/2016,84.0,Auvergne-Rhône-Alpes,0.0,1,6820.0,,28.54,140.0,259.0,4664.0,SA DES ETS RENE DUFOUR,6820B,69382,01/01/2014,NaN,0.0,69.0,6820.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,69.0,131.0,0.0,0.00,0.0,01/01/1957,67.0,0.0,0.0,0.0,0.0,Subcontractor,0.0,1957.0,0.0,0.0,0.0,9.0,250.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,71.0,109.0,0.0,0.0,0.0,0.0,0.0,-38.0,0.0,0.0,0.0,0.000000,0.000000,0,1,0,0,0
117,5720651.0,2016,SA DES ETS RENE DUFOUR,1.17,0.94,17.14,5720651,6820B,31/12/2016,84.0,Auvergne-Rhône-Alpes,0.0,1,6820.0,,NaN,56.0,259.0,4664.0,SA DES ETS RENE DUFOUR,6820B,69382,01/01/2014,NaN,0.0,69.0,6820.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,69.0,48.0,1.0,-166.01,0.0,01/01/1957,67.0,0.0,0.0,0.0,135.0,Subcontractor,0.0,1957.0,0.0,0.0,0.0,9.0,250.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,138.0,0.000000,167.0,288.0,0.0,0.0,0.0,0.0,0.0,-121.0,0.0,0.0,0.0,0.000000,0.000000,0,0,1,0,0
118,5720651.0,2017,SA DES ETS RENE DUFOUR,NaN,NaN,NaN,5720651,6820B,31/12/2016,84.0,Auvergne-Rhône-Alpes,0.0,1,6820.0,,NaN,NaN,NaN,4664.0,SA DES ETS RENE DUFOUR,6820B,69382,01/01/2014,NaN,NaN,69.0,6820.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,69.0,NaN,NaN,NaN,NaN,01/01/1957,NaN,NaN,NaN,NaN,NaN,Subcontractor,NaN,1957.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0,0,0,1,0
119,5720651.0,2018,SA DES ETS RENE DUFOUR,NaN,NaN,NaN,5720651,6820B,31/12/2016,84.0,Auvergne-Rhône-Alpes,0.0,1,6820.0,,NaN,NaN,NaN,4664.0,SA DES ETS RENE DUFOUR,6820B,69382,01/01/2014,NaN,NaN,69.0,6820.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,69.0,NaN,NaN,NaN,NaN,01/01/1957,NaN,NaN,NaN,NaN,NaN,Subcontractor,NaN,1957.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
620,15450232.0,2014,T21,1.46,0.92,11.86,15450232,7022Z,31/12/2017,84.0,Auvergne-Rhône-Alpes,0.0,1,7022.0,,95.01,700.0,819.0,3556.0,T21,7022Z,69271,30/09/2016,NaN,0.0,69.0,7022.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.47,69.0,414.0,33.0,0.00,37.0,01/01/1954,156.0,0.0,0.0,0.0,0.0,Subcontractor,0.0,1954.0,0.0,0.0,400.0,3.0,816.0,0.0,0.0,286.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,35.0,0.000000,48.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.571429,NaN,1,0,0,0,0
621,15450232.0,2015,T21,1.03,0.84,6.21,15450232,7022Z,31/12/2017,84.0,Auvergne-Rhône-Alpes,0.0,1,7022.0,,98.31,286.0,819.0,3556.0,T21,7022Z,69271,30/09/2016,NaN,0.0,69.0,7022.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,69.0,30.0,3.0,0.00,0.0,01/01/1954,156.0,0.0,0.0,0.0,0.0,Subcontractor,0.0,1954.0,0.0,0.0,29.0,3.0,816.0,0.0,0.0,256.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,5.0,0.000000,4.0,46.0,0.0,0.0,0.0,0.0,0.0,-42.0,0.0,0.0,0.0,0.101399,0.571429,0,1,0,0,0
622,15450232.0,2016,T21,NaN,NaN,NaN,15450232,7022Z,31/12/2017,84.0,Auvergne-Rhône-Alpes,0.0,1,7022.0,,NaN,NaN,NaN,3556.0,T21,7022Z,69271,30/09/2016,NaN,NaN,69.0,7022.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,69.0,NaN,NaN,NaN,NaN,01/01/1954,NaN,NaN,NaN,NaN,NaN,Subcontractor,NaN,1954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.101399,0,0,1,0,0
623,15450232.0,2017,T21,1.03,0.95,18.47,15450232,7022Z,31/12/2017,84.0,Auvergne-Rhône-Alpes,0.0,1,7022.0,,99.33,237.0,819.0,3556.0,T21,7022Z,69271,30/09/2016,NaN,0.0,69.0,7022.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-18.59,69.0,29.0,1.0,0.00,25.0,01/01/1954,156.0,0.0,0.0,0.0,0.0,Subcontractor,0.0,1954.0,5.0,0.0,24.0,3.0,816.0,0.0,0.0,208.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.000000,25.0,29.0,0.0,0.0,0.0,0.0,0.0,-4.0,0.0,0.0,0.0,0.101266,NaN,0,0,0,1,0
624,15450232.0,2018,T21,NaN,NaN,NaN,15450232,7022Z,31/12/2017,84.0,Auvergne-Rhône-Alpes,0.0,1,7022.0,,NaN,NaN,NaN,3556.0,T21,7022Z,69271,30/09/2016,NaN,NaN,69.0,7022.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,69.0,NaN,NaN,NaN,NaN,01/01/1954,NaN,NaN,NaN,NaN,NaN,Subcontractor,NaN,1954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.101266,0,0,0,0,1
1280,16950842.0,2014,SEB DEVELOPPEMENT,0.97,-0.03,0.97,16950842,7022Z,31/12/2017,84.0,Auvergne-Rhône-Alpes,1.0,1,7022.0,,23.77,87566.0,68278.0,1383.0,SEB DEVELOPPEMENT,7022Z,69081,21/03/2016,597.0,0.0,69.0,7022.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.80,69.0,63247.0,19146.0,0.01,175932.0,10/07/1969,3000.0,0.0,0.0,1.0,0.0,Subcontractor,14456.0,1969.0,52201.0,0.0,171.0,1119.0,8134.0,0.0,12964.0,8677.0,646.0,0.0,0.0,53087.0,557.0,2.0,0.0,0.0,39298.0,124.0,5079.0,63648.0,0.010150,197183.0,194011.0,0.0,0.0,0.0,0.0,0.0,3172.0,0.0,0.0,40665.0,0.001953,NaN,1,0,0,0,0
1281,16950842.0,2015,SEB DEVELOPPEMENT,0.99,-0.01,0.98,16950842,7022Z,31/12/2017,84.0,Auvergne-Rhône-Alpes,1.0,1,7022.0,,-3.05,90803.0,62599.0,1383.0,SEB DEVELOPPEMENT,7022Z,69081,21/03/2016,607.0,0.0,69.0,7022.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-8.20,69.0,68973.0,25479.0,-0.05,203784.0,10/07/1969,3000.0,0.0,0.0,1.0,0.0,Subcontractor,9202.0,1969.0,63943.0,0.0,129.0,1119.0,8083.0,0.0,14649.0,9884.0,178.0,0.0,0.0,55497.0,3905.0,0.0,0.0,0.0,42744.0,580.0,1054.0,69858.0,0.002548,217028.0,233732.0,0.0,0.0,0.0,0.0,0.0,-16704.0,0.0,0.0,31179.0,0.001421,0.001953,0,1,0,0,0
1282,16950842.0,2016,SEB DEVELOPPEMENT,0.98,-0.02,0.98,16950842,7022Z,31/12/2017,84.0,Auvergne-Rhône-Alpes,1.0,1,7022.0,,-2.48,99064.0,58411.0,1383.0,SEB DEVELOPPEMENT,7022Z,69081,21/03/2016,634.0,0.0,69.0,7022.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.67,69.0,79337.0,31684.0,-3.50,216612.0,10/07/1969,3000.0,0.0,0.0,20.0,66.0,Subcontractor,6595.0,1969.0,71073.0,0.0,143.0,1119.0,8005.0,0.0,20732.0,10692.0,499.0,0.0,0.0,62279.0,1155.0,0.0,0.0,0.0,47364.0,537.0,963.0,80634.0,0.006188,247898.0,244282.0,0.0,0.0,0.0,0.0,0.0,3616.0,0.0,0.0,24157.0,0.001444,0.001421,0,0,1,0,0
1283,16950842.0,2017,SEB DEVELOPPEMENT,1.32,0.18,1.22,16950842,7022Z,31/12/2017,84.0,Auvergne-Rhône-Alpes,1.0,1,7022.0,,1.15,118010.0,58578.0,1383.0,SEB DEVELOPPEMENT,7022Z,69081,21/03/2016,718.0,0.0,69.0,7022.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.43,69.0,100444.0,27052.0,786.41,261238.0,10/07/1969,3000.0,0.0,0.0,0.0,10677.0,Subcontractor,5266.0,1969.0,94127.0,0.0,126.0,1119.0,8069.0,0.0,20593.0,9755.0,25.0,0.0,0.0,62036.0,965.0,0.0,0.0,0.0,53316.0,806.0,703.0,92554.0,0.000270,287502.0,281142.0,0.0,0.0,0.0,0.0,0.0,6360.0,0.0,0.0,24113.0,0.001068,0.001444,0,0,0,1,0
1284,16950842.0,2018,SEB DEVELOPPEMENT,NaN,NaN,NaN,16950842,7022Z,31/12/2017,84.0,Auvergne-Rhône-Alpes,1.0,1,7022.0,,NaN,NaN,NaN,1383.0,SEB DEVELOPPEMENT,7022Z,69081,21/03/2016,NaN,NaN,69.0,7022.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,69.0,NaN,NaN,NaN,NaN,10/07/1969,NaN,NaN,NaN,NaN,NaN,Subcontractor,NaN,1969.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001068,0,0,0,0,1
4535,56807191.0,2014,LES TRAITEURS LYONNAIS,1.28,1.00,NaN,56807191,4639B,31/12/2018,84.0,Auvergne-Rhône-Alpes,0.0,1,4639.0,,99.94,275451.0,215804.0,13014.0,LES TRAITEURS LYONNAIS,4639B,69388,,NaN,0.0,69.0,4639.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,69.0,59774.0,78.0,0.00,286.0,01/01/1956,51176.0,0.0,0.0,0.0,0.0,Wholesaler,0.0,1956.0,211.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,285.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,83.0,0.000000,10046.0,1545.0,0.0,0.0,0.0,0.0,0.0,8501.0,0.0,0.0,0.0,0.000004,NaN,1,0,0,0,0
4536,56807191.0,2015,LES TRAITEURS LYONNAIS,1.14,0.99,88.62,56807191,4639B,31/12/2018,84.0,Auvergne-Rhône-Alpes,0.0,1,4639.0,,99.83,276030.0,242354.0,13014.0,LES TRAITEURS LYONNAIS,4639B,69388,,NaN,0.0,69.0,4639.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,69.0,33798.0,380.0,0.00,180.0,01/01/1956,51176.0,0.0,0.0,1.0,0.0,Wholesaler,0.0,1956.0,128.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,180.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,381.0,0.000000,9420.0,680.0,0.0,0.0,0.0,0.0,0.0,8740.0,0.0,0.0,0.0,0.000004,0.000004,0,1,0,0,0
4537,56807191.0,2016,LES TRAITEURS LYONNAIS,1.07,0.95,19.33,56807191,4639B,31/12/2018,84.0,Auvergne-Rhône-Alpes,0.0,1,4639.0,,99.59,275281.0,255736.0,13014.0,LES TRAITEURS LYONNAIS,4639B,69388,,3.0,0.0,69.0,4639.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,69.0,19667.0,415.0,0.00,492.0,01/01/1956,51176.0,0.0,0.0,0.0,0.0,Wholesaler,0.0,1956.0,500.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,170.0,0.0,247.0,0.0,0.0,0.0,0.0,88.0,0.0,509.0,1012.0,0.000988,8470.0,1171.0,0.0,0.0,0.0,0.0,0.0,7299.0,0.0,0.0,0.0,0.000007,0.000004,0,0,1,0,0
4538,56807191.0,2017,LES TRAITEURS LYONNAIS,1.07,0.96,28.03,56807191,4639B,31/12/2018,84.0,Auvergne-Rhône-Alpes,0.0,1,4639.0,,99.73,246170.0,255736.0,13014.0,LES TRAITEURS LYONNAIS,4639B,69388,,NaN,0.0,69.0,4639.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,69.0,18200.0,550.0,0.00,183.0,01/01/1956,51176.0,0.0,0.0,6.0,0.0,Wholesaler,0.0,1956.0,378.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,27644.0,0.0,0.0,249.0,0.0,0.0,0.0,0.0,94.0,0.0,1.0,651.0,42.463902,415.0,29041.0,0.0,0.0,0.0,0.0,0.0,-28626.0,0.0,0.0,0.0,0.000004,0.000007,0,0,0,1,0
4539,56807191.0,2018,LES TRAITEURS LYONNAIS,0.82,-2.62,0.28,56807191,4639B,31/12/2018,84.0,Auvergne-Rhône-Alpes,0.0,1,4639.0,,74.47,NaN,NaN,13014.0,LES TRAITEURS LYONNAIS,4639B,69388,,NaN,NaN,69.0,4639.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,69.0,23241.0,571.0,0.00,271.0,01/01/1956,51176.0,0.0,0.0,0.0,0.0,Wholesaler,0.0,1956.0,436.0,1.0,29.0,0.0,0.0,0.0,0.0,0.0,6302.0,0.0,0.0,186.0,0.0,0.0,0.0,0.0,75.0,0.0,83035.0,83681.0,0.075310,6869.0,8150.0,0.0,0.0,0.0,0.0,0.0,-1281.0,0.0,0.0,0.0,NaN,0.000004,0,0,0,0,1

In [5]:

# Calculate the number of missing values in each column
missing_values = filtered_df.isnull().sum()

# If you're interested in columns with at least one missing value, you can filter those out:
columns_with_missing_values = missing_values[missing_values > 0]
print(columns_with_missing_values)


columns_wo_missing_values = missing_values[missing_values == 0]
print(columns_wo_missing_values)

captem_fa                     88061
wc_currentas                  68512
currentratio                  71510
regioncode                       70
nacerev2primarycodecode         145
solvencyratio                 73903
totalassets                   78931
totalfixedassets              94621
effectifmoyendupersonnel     173988
brevet                       117071
nacerév2codeprincipalcode       155
roa                          100748
currentas                     85109
creditors                     66043
financialdebtequity           66048
netsales                      79609
sharecapital                  66013
convertibleloans              95367
otherdebentureloans           95362
bankborrowings                66060
otherborrowings               95319
NetIntangible                 66269
tradedebts                    83198
marketable_sec                83241
cashNbank                     92043
land                         107729
buildings                    107720
plantAequip                  107715
other_tangible                83200
nettangible                   65837
fincharges                    79453
purch_good                    79481
purch_raw                     79476
wage_salaries                 79448
PropPlEq_inPRG               107725
prepay_tangibleAs            107736
conso_insvestm               107739
customerprepay                65915
taxes                         95190
debttosupplier_tangAs         95229
otherdebts                    65879
totalDebt                     95376
InterestR                    107963
totalrevenues                 78008
totalexpenses                 78007
rawmaterials                  83237
workinprogr                  107732
ServINprogr                  107731
semifinNfinGoods             107731
goodforsales                  83237
netincome                     78009
inventory                    107741
goodwill                      83233
othIntangAs                   83236
ratio                        101536
ratio_lag                    109618
dtype: int64
siren                       0
year                        0
companyname                 0
sirenID                     0
nafrev2primarycodecode      0
lastavailableyear           0
region                      0
numberofbranches            0
noofshareholders            0
bankname                    0
ÿþmarquée                   0
nomdelentreprise            0
nafrév2codeprincipalcode    0
codecommune5chiffres        0
datededébutdactivité        0
départementcode             0
HT                          0
MHT                         0
MLT                         0
LT                          0
KIS                         0
HTKIS                       0
FKIS                        0
OKIS                        0
KIS_all                     0
HT_all                      0
man                         0
trade                       0
elec_eau                    0
agr                         0
trans                       0
ict                         0
real                        0
cons                        0
services                    0
deprtcode                   0
dateofincorporation         0
typeofbusiness              0
year_incorporation          0
Dum14                       0
Dum15                       0
Dum16                       0
Dum17                       0
Dum18                       0
dtype: int64

In [ ]:
# Setting panel index
df = filtered_df.set_index(['siren', 'year'])

# Simple panel data description
df.describe()

,captem_fa,wc_currentas,currentratio,regioncode,numberofbranches,noofshareholders,nacerev2primarycodecode,solvencyratio,totalassets,totalfixedassets,ÿþmarquée,effectifmoyendupersonnel,brevet,départementcode,nacerév2codeprincipalcode,HT,MHT,MLT,LT,KIS,HTKIS,FKIS,OKIS,KIS_all,HT_all,man,trade,elec_eau,agr,trans,ict,real,cons,services,roa,deprtcode,currentas,creditors,financialdebtequity,netsales,sharecapital,convertibleloans,otherdebentureloans,bankborrowings,otherborrowings,NetIntangible,year_incorporation,tradedebts,marketable_sec,cashNbank,land,buildings,plantAequip,other_tangible,nettangible,fincharges,purch_good,purch_raw,wage_salaries,PropPlEq_inPRG,prepay_tangibleAs,conso_insvestm,customerprepay,taxes,debttosupplier_tangAs,otherdebts,totalDebt,InterestR,totalrevenues,totalexpenses,rawmaterials,workinprogr,ServINprogr,semifinNfinGoods,goodforsales,netincome,inventory,goodwill,othIntangAs,ratio,ratio_lag,Dum14,Dum15,Dum16,Dum17,Dum18
count,111254.000000,130803.000000,127805.000000,199245.000000,199315.000000,199315.000000,199170.000000,125412.000000,1.203840e+05,1.046940e+05,199315.000000,25327.000000,82244.000000,199315.0,199160.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000,98567.000000,199315.0,1.142060e+05,1.332720e+05,1.332670e+05,1.197060e+05,1.333020e+05,103948.000000,1.039530e+05,1.332550e+05,1.039960e+05,133046.000000,199315.000000,1.161170e+05,116074.000000,107272.000000,91586.000000,9.159500e+04,9.160000e+04,1.161150e+05,1.334780e+05,119862.000000,1.198340e+05,1.198390e+05,1.198670e+05,91590.000000,91579.000000,91576.000000,133400.000000,104125.000000,104086.000000,133436.000000,1.039390e+05,91352.000000,1.213070e+05,1.213080e+05,116078.000000,91583.000000,91584.000000,9.158400e+04,1.160780e+05,1.213060e+05,9.157400e+04,116082.000000,116079.000000,97779.000000,89697.000000,199315.000000,199315.000000,199315.000000,199315.000000,199315.000000
mean,32.170607,-7.632235,4.376215,83.965595,0.440383,0.647167,5824.754406,41.144219,5.938270e+03,4.592550e+03,9955.526453,49.042761,157.002456,69.0,5823.150884,0.002107,0.009959,0.026616,0.031056,0.176229,0.041868,0.111181,0.051878,0.381155,0.012066,0.070792,0.195520,0.008529,0.002358,0.025011,0.045130,0.069563,0.113413,0.803753,6.056889,69.0,2.760314e+03,5.851063e+02,2.967686e+02,4.313170e+03,1.124327e+03,80.650816,8.728400e+01,6.113431e+02,1.102049e+03,296.919111,2004.641999,8.496564e+02,165.833890,455.696799,102.939980,8.527103e+02,7.882501e+02,4.336069e+02,8.413330e+02,107.599489,1.062802e+03,6.471667e+02,7.264932e+02,83.152648,7.720798,2.169466,32.901949,417.914641,39.740244,336.733767,3.601037e+03,0.183779,4.865083e+03,4.555685e+03,83.099071,63.633764,26.672432,1.661092e+02,2.002795e+02,3.093606e+02,5.885802e+02,285.263366,62.791874,0.236658,0.236306,0.200000,0.200000,0.200000,0.200000,0.200000
std,3344.197454,844.147179,9.626987,1.522698,5.910667,1.477684,1731.626814,32.425404,7.495717e+04,7.009415e+04,5792.782869,705.922866,3917.458044,0.0,1731.857129,0.045856,0.099297,0.160959,0.173471,0.381015,0.200289,0.314357,0.221781,0.485672,0.109182,0.256479,0.396601,0.091959,0.048503,0.156158,0.207589,0.254410,0.317098,0.397159,76.203683,0.0,2.963570e+04,7.850241e+03,1.932403e+04,5.299689e+04,1.893276e+04,5440.962457,8.401168e+03,1.365318e+04,2.115303e+04,6347.481041,12.222005,9.747829e+03,4750.345052,5444.369801,2228.718521,2.541176e+04,1.461929e+04,1.327060e+04,2.692249e+04,2375.576430,1.462227e+04,1.946408e+04,2.062954e+04,2412.469716,752.328560,311.279164,700.325507,6910.149615,2535.556075,7458.711419,3.925084e+04,16.233322,5.933298e+04,5.621551e+04,1590.848884,1639.288580,1245.733825,1.039510e+04,5.647076e+03,8.412691e+03,1.318999e+04,6292.815131,1526.328486,0.238984,0.239285,0.400001,0.400001,0.400001,0.400001,0.400001
min,0.000000,-230710.000000,0.000000,11.000000,0.000000,0.000000,111.000000,-99.960000,-1.800000e+01,-5.730000e+02,1.000000,1.000000,0.000000,69.0,111.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-999.500000,69.0,-1.000000e+01,-3.630000e+02,-2.659630e+06,-4.640000e+02,-3.100000e+01,0.000000,0.000000e+00,-1.970000e+02,-1.470000e+02,-14.000000,1900.000000,-7.700000e+01,-46.000000,-22.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,-2.600000e+01,-115.000000,-3.230000e+03,-5.128000e+03,-1.910000e+02,-4.000000,-31.000000,0.000000,-6211.000000,-43147.000000,-18.000000,-41.000000,-2.000000e+00,-0.307692,-6.700000e+02,-1.281590e+05,-19.000000,-137.000000,-15.000000,-1.576000e+03,-1.066000e+03,-1.355540e+05,-1.500000e+01,0.000000,-14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.110000,0.170000,1.180000,84.000000,0.000000,0.000000,4646.000000,20.320000,1.140000e+02,3.600000e+01,4893.000000,2.000000,0.000000,69.0,4646.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.460000,69.0,6.900000e+01,4.000000e+00,1.000000e-02,7.700000e+01,8.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2000.000000,5.000000e+00,0.000000,11.000000,0.000000,0.000000e+00,0.000000e+00,8.000000e+00,1.000000e+00,0.000000,0.000000e+00,0.000000e+00,8.000000e+00,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,9.200000e+01,0.000000,9.800000e+01,8.600000e+01,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.039673,0.039246,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.650000,0.470000,1.860000,84.000000,0.000000,0.000000,6201.000000,41.830000,4.320000e+02,1.650000e+02,10002.000000,6.000000,0.000000,69.0,6201.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.860000,69.0,2.670000e+02,2.500000e+01,1.368000e+01,2.870000e+02,1.500000e+01,0.000000,0.000000e+00,4.000000e+00,1.300000e+01,0.000000,2008.000000,4.800000e+01,0.000000,51.000000,0.000000,0.000000e+00,2.000000e+00,3.900000e+01,1.200000e+01,1.000000,0.000000e+00,0.000000e+00,7.100000e+01,0.000000,0.000000,0.000000,0.000000,55.000000,0.000000,3.000000,3.170000e+02,0.004167,3.390000e+02,3.090000e+02,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,1.500000e+01,3.000000e+00,0.000000,0.000000,0.157480,0.156369,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.370000,0.720000,3.270000,84.000000,0.000000,1.000000,7010.000000,64.100000,1.357000e+03,6.580000e+02,14979.000000,22.000000,8.000000,69.0,7010.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,10.190000,69.0,9.290000e+02,1.400000e+02,7.099000e+01,1.223000e+03,1.000000e+02,0.000000,0.000000e+00,7.700000e+01,1.000000e+02,37.000000,2013.000000,2.730000e+02,0.000000,189.000000,0.000000,0.000000e+00,4.900000e+01,1.430000e+02,7.000000e+01,6.000000,9.000000e+00,2.100000e+01,2.750000e+02,0.000000,0.000000,0.000000,0.000000,165.000000,0.000000,30.000000,9.540000e+02,0.015408,1.379000e+03,1.284000e+03,2.000000,0.000000,0.000000,0.000000e+00,2.000000e+00,6.900000e+01,8.300000e+01,31.000000,0.000000,0.370370,0.369485,0.000000,0.000000,0.000000,0.000000,0.000000
max,636111.050000,111.900000,99.950000,93.000000,896.000000,54.000000,9609.000000,100.000000,4.721637e+06,4.545700e+06,20000.000000,105407.000000,485000.000000,69.0,9609.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,992.790000,69.0,2.948000e+06,1.064300e+06,4.713693e+06,5.241354e+06,1.600987e+06,759011.000000,1.614631e+06,2.101000e+06,1.591244e+06,831305.000000,2019.000000,1.027307e+06,873474.000000,446100.000000,222883.000000,2.852000e+06,1.249500e+06,3.019000e+06,3.748100e+06,364453.000000,1.130658e+06,3.086900e+06,3.475646e+06,280000.000000,128788.000000,56180.000000,93821.000000,961326.000000,465000.000000,866315.000000,3.241000e+06,4262.000000,5.367865e+06,5.174049e+06,169000.000000,191997.000000,243385.000000,1.676000e+06,1.798000e+06,1.723556e+06,1.865000e+06,851236.000000,201500.000000,2.637304,2.637304,1.000000,1.000000,1.000000,1.000000,1.000000